# Last time of install Пн окт 12 09:58:15 EDT 2020

[Unit]
Description=POInt Serial port Emulator

[Service]
ExecStart=/opt/stelcs/virtualCOM/tty2stdio/point-vserial.sh
Restart=always
User=q
Environment=NODE_ENV=production
WorkingDirectory=/opt/stelcs/virtualCOM/tty2stdio
Before=point-main

Environment=LogInternal=No
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=point-vserial

[Install]
WantedBy=multi-user.target