# Last time of install $InstallTime

[Unit]
Description=POInt Serial port Emulator

[Service]
ExecStart=$PO_HOME/point-vserial.sh
Restart=always
User=q
Environment=NODE_ENV=production
WorkingDirectory=$PO_HOME
Before=point-main

Environment=LogInternal=No
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=point-vserial

[Install]
WantedBy=multi-user.target